/* CSS VARIABLES */
:root{
    --main-bg-color: #FFFAD9;
    --grey: #707070;
    --green: #04AC00;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-bg-color);
    margin: 0 auto;
    font-family: "Lato", serif;
}
p{
  margin: 0;
}
h1{
  margin: 0;
  font-weight: 900;
  font-size: 2.5em;
}
h2{
  margin: 0;
  font-weight: 900;
  font-size: 2.5em;
}
.wrapper{
    display: grid;
    grid-template-columns: 36px 1fr 1fr 1fr 1fr 1fr 1fr 36px;
    grid-template-rows: .1fr .2fr .6fr .1fr 1fr .2fr .1fr .5fr .1fr .3fr .1fr .2fr .1fr 0.4fr 0.1fr 0.2fr;
    
}

.head{
    grid-column: 2/ span 5;
    grid-row: 1;
    display: flex;s
    align-self: center;
    width:80%;
}

.menu{
    top:30px;
    right: 5%;
    height: 60px;
    width: 60px;
    position:fixed;
    z-index: 10;
}

.cinemagraph{
    grid-column: 1/9;
    grid-row: 2;
    width: 100%;
}

.gradient{
    grid-column: 1/9;
    background: rgb(4, 172, 0);
    background: -webkit-linear-gradient(rgba(4, 172, 0, 1) 35%, rgba(255, 250, 217, 1) 100%);
    background: -o-linear-gradient(rgba(4, 172, 0, 1) 35%, rgba(255, 250, 217, 1) 100%);
    background: linear-gradient(rgba(4, 172, 0, 1) 35%, rgba(255, 250, 217, 1) 100%);
    grid-row:3;
    display: grid;
    grid-template-columns: 36px 1fr 36px;
    grid-template-rows: .5fr 1fr .5fr 1fr;
}

.story{
    grid-column: 2;
    grid-row: 1;
    font-size: 2.5em;
    align-self: center;
    display: flex;
    justify-content: center;
}

.story2{
    grid-column: 2;
    grid-row: 2;
    font-size: 1.3em;
}

.mission{
    grid-column: 2;
    grid-row: 3;
    font-size: 2.5em;
    align-self: center;
    display: flex;
    justify-content: center;
}

.mission2{
    grid-column: 2;
    grid-row: 4;
    order: 2;
    font-size: 1.3em;
}

.how{
    grid-column: 1/ span 9;
    grid-row: 4;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
}
.howit{
  display: grid;
  grid-column: 1/ span 9;
  grid-row: 5;
  grid-template-rows: 1fr 1fr 0.1fr 1fr 1fr 0.1fr 1fr 1fr 0.1fr 1fr 1fr 0.1fr .1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.caption{
  font-size: 1.5em;
}
.step1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    width: 100%;
    
}
#caption1{
    grid-column: 1/ span 2;
    grid-row: 3;
    text-align: center;
}
.step2{
    grid-column: 3/ span 4;
    grid-row: 4/ span 5;
    width: 100%;
}
#caption2{
    grid-column: 3/ span 4;
    grid-row: 6;
    text-align: center;
}
.step3{
    grid-column: 1/ span 2;
    grid-row: 7/ span 8;
    width: 100%;
}
#caption3{
    grid-column: 1/ span 2;
    grid-row: 9;
    text-align: center;
}
.step4{
    grid-column: 3/ span 4;
    grid-row: 10/ span 11;
    width: 100%;
}
#caption4{
    grid-column: 3/ span 4;
    grid-row: 12;
    text-align: center;
}


.statBG{
    grid-column: 1/9;
    grid-row: 6;
    width: 100%;
    height: 100%;
    height:300px;
    opacity: 0.3;
    z-index: -2;
}

.stat1{
    grid-column: 2/span 2;
    grid-row: 6;
    align-self: center;
    font-size: 2em;
    text-align: center;
    border-right: 0.5px solid var(--grey);
}

.stat1 b{
    font-weight: 700;
    font-size: 0.6em;
}

.stat2{
    grid-column: 4/span 2;
    grid-row: 6;
    align-self: center;
    font-size: 2em;
    text-align: center;
    border-right: 0.5px solid var(--grey);
}

.stat2 b{
    font-weight: 700;
    font-size: 0.6em;
}

.stat3{
    grid-column: 6/span 2;
    grid-row: 6;
    align-self: center;
    font-size: 2em;
    text-align: center;
}

.stat3 b{
    font-weight: 700;
    font-size: 0.6em;
}

#buttons{
  grid-row: 7;
  grid-column: 1/ span 9;
  font-size: 1.5em;
  display: flex;
  align-self: center;
  justify-content: center;
}

#map{
   grid-row: 8;
    grid-column: 1/ 9;
    height: 100%;
}

.marker {
  background-image: url('img/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.team{
    grid-column: 1/9;
    grid-row: 9;
    display: flex;
    align-self: center;
    justify-content: center;
}

.team2{
    grid-column: 3 / span 4;
    grid-row: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.teampic{
    border-radius: 50%;
    padding-top: 30px;
}

.partners{
    grid-column: 1/9;
    grid-row: 11;
    display: flex;
    align-self: center;
    justify-content: center;
}

.slideshow {
  position: relative;
  overflow: hidden;
  grid-row: 12;
  grid-column: 1/9;
}
.images {
  background: url(img/komunne.png);
  background-color: #FFF4AE;
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 300%;
  animation: slideshow 10s linear infinite;
    z-index: -2;
}
@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

nav{
    position: fixed;
    background-color: var(--main-bg-color) ;
    width: 100%;
    float: left;
    top:0%;
    z-index: 0;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 10px;
    
    
}

li{
    list-style-type: none;
    padding-left: 30px;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 45px;
    
}

a:link{
    text-decoration: none;
    color: black;
   
}

a:visited{
    color: black;
}

.navigation{
    display: none;
}

.navigation2{
    display: inline-block;
}



.contactus{
    grid-column: 1/ span 8;
   grid-row: 13; 
    font-weight: 400;
    font-size: 2em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.contactwrap{
    grid-column: 1/ span 8;
    grid-row: 14;
    display: flex;
    z-index: 99;
    height: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.contactfluff{
    text-align: center;
    font-family: Roboto Slab;
    font-size: 0.8em;
    padding-bottom: 40px;
    
}

.input{
    border: 2px solid var(--grey);
    border-radius: 48px;
    width: 100%;
    
}

.input2{
    border: 2px solid var(--grey);
    border-radius: 48px;
    width: 100%;
    height: 200px;
}

.form{
    width:60%;
    color: var(--grey);
}

.butn {
    grid-column: 5/ span 3;
    grid-row: 15;
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  -webkit-box-shadow: 0px 3px 9px #666666;
  -moz-box-shadow: 0px 3px 9px #666666;
  box-shadow: 0px 3px 9px #666666;
  font-family: Lato;
  color: #000000;
  font-size: 24px;
  background: #2BC42B;
  padding: 10px 20px 10px 20px;
  border: solid #616a73 3px;
  text-decoration: none;
    height: 55px;
    
}

.butn:hover {
  background: #3eab3e;
  text-decoration: none;
}

#footer{
    grid-column: 1 / span 8;
    grid-row: 16;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer h5{
    margin: 0;
}

#footer p{
    padding-bottom: 10px;
}

.footername{
   grid-column: 1 / span 8;
    grid-row: 16;
    background-color: var(--green);
    display: flex;
    flex-direction: row;
}

.some{
    width: 50px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
} 

@media only screen and (max-width: 600px) {
    nav{
        display:none;
    }
}

@media only screen and (min-width: 600px) {
    #navi{
        display:-webkit-inline-box;
        left:20%;
        border-bottom: none;
    }
    
    .menu{
        display: none;
    }
    
    .story{
        font-size: 5em;
    }
    
    .story2{
        font-size: 3em;
    }
    
    .mission{
        font-size: 5em;
    }
    
    .mission2{
        font-size: 3em;
    }
    
    .how{
        font-size: 5em;
    }
    
    .map{
        height:20%;
    }
    
    .statBG{
        height:1400px;
    }
    
    .stat1{
        font-size: 5em;
    }
    
    .stat2{
        font-size: 5em;
    }
    
    .stat3{
        font-size: 5em;
    }
    
    .buttons b{
        font-size: 5em;
    }
}